<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Livros</title>
</head>

<body>
    <!-- Formulário de pesquisa -->
    <form action="" method="get">
        <fieldset>
            <legend>Pesquisa</legend>
            <label for="busca">Busca:</label>
            <input type="text" name="busca" id="busca" value="">
            <label for="tipo">Tipo:</label>
            <select name="tipo" id="tipo">
                <option value="">Escolha</option>
                <option value="1">Id</option>
                <option value="2">Un</option>
            </select>
            <button type='submit'>Buscar</button>

        </fieldset>
    </form>
    <hr>
    <h1>Lista de Compras</h1>
    <form action="../compra/index.php" method="get">
        <table border="1px">
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Valor Total</th>
                <th>Cancelar compra</th>
            </tr>
            {itens}
            
        </table>
    </form>
</body>