<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Unidade Medido</title>
    
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form action="index.php" method="POST">
        <input type="text" name="id" id="id" readonly value="{id}" hidden>
        <input type="text" name="id" id="id" readonly value="{id}" hidden>
        <input type="text" name="id" id="id" readonly value="{id}" hidden>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{valorUnitario}"><br><br>

        <label for="quantidade">Quantidade:</label>
        <input type="range" name="quantidade" id="quantidade" value="{quantidade}">
        <br><br>

        <label for="senha">Senha:</label>
        <input type="text" name="senha" id="senha" value="{valorTotalItem}">
        <br><br>
        <label for="nivel">Nível de permissão:</label>
        <select name="nivel" id="nivel">
            <option value="0" {selected_0}>Cliente</option>
            <option value="1" {selected_1}>Administrador</option>
        </select>
        
        <div id="cpf" data-cpf="{cpf}">

        </div>
        <br>
        <button type='submit' name='acao' value='salvar'>Salvar</button>
        <button type='submit' name='acao' value='excluir'>Excluir</button>
        <button type='reset'>Cancelar</button>
    </form>
    
</body>
</html>
<script src="./templates/js.js"></script> -->